.user-input-state{
  display: inline-block;
}

.add-text-btn {
  margin-top:1em;
  background:black;
  border-color: whitesmoke;
  border-radius: 2em;
  color: whitesmoke;
  width:10em;
  height:3em;
  margin-right:3em;
  display: block;
}

.add-text-btn:hover {
  background-color: whitesmoke;
  color: black;
}

.del-text-btn{
  margin-top:1em;
  background:transparent;
  color:grey;
  border:none;
}

label {
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size: 1em;
  font-weight: 1;
}

input[type=text]{
  background:white;
	resize:none;
	box-sizing:border-box;
	padding: 1em;
	height:3em;
  overflow-y:hidden;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    height:100%;
  }
  
  .wrapper > * {
    flex: 100%;
    margin:-10px;
  }
  
  .header {
    color: white;
    background: black;
    width: 100%;
    display: inline-block;
    justify-content: space-evenly;
    margin-top:-10px;
    margin-left:-10px;
    min-height:160px;
    background-image: url(img/driveexp.png);
    background-size:21%;
    background-position:0;
    background-origin: content-box;
    background-repeat:no-repeat;
  }

  .reg, .login{
    float:right;
    padding:2em;
    margin-top:1em;
    margin-right:2em;
  }


  #map, #embedded{
    min-height:50%;
    width:100%;
    margin:2em 0 2em 0;
    flex-flow: row;
  }

  #map{
    max-width:320px;
  }
 

  .footer {
    background: black;
    color: #888;
    font-size:.8em;
    justify-content: center;
    padding:2em;
    width:100%;
    margin-left:-10px;
    bottom:0;
    position: fixed;
    text-align: center;
   
  }

  .display{
    min-height:6em;
  }

  .main {
    margin-top:3em;
   color:whitesmoke;
  }

  .profile{
    min-height: 170px;
  }
  
  .aside-1 {
    padding:2em;
    text-align: left;
    background: transparent;
    position: relative;
    vertical-align: -webkit-baseline-middle;
    margin-top:2em;
  }
  
  .aside-2 {
    background: transparent;
    opacity:.7;
    flex-flow: row-reverse;
    display:flex;
    min-width:50%;
    min-height: 100%;
    padding:1em;
    margin:1em;
    position:sticky;
  }

  #cmt{
  margin: 1em 0 1em 0;
  }
  
  overflow-wrap {
    overflow-wrap: break-word;
  }

  textarea{
    font-family: lato;
    height:10em;
    width:100%;
    resize:none;
    box-sizing:border-box;
    padding: 1em;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 0 auto; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    font-family:lato light;
    color:whitesmoke;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    position:relative;
    background-image:url(img/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;  
    background-size: cover;
    background-color:black;
    height:100%;
  }