.user-input-state{
  display: inline-block;
}

.add-text-btn, .del-text-btn{
  margin-top:1em;
  background:transparent;
  border-color: black;
  border-radius: 2em;
  color: black;
  width:10em;
  height:3em;
  margin-right:3em;
}

label {
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size: 1em;
  font-weight: 1;
}

input[type=text]{
  background:white;
	resize:none;
	box-sizing:border-box;
	padding: 1em;
	height:3em;
  overflow-y:hidden;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    height:100%;
  }
  
  .wrapper > * {
    flex: 100%;
    margin:-10px;
  }
  
  .header {
    color: white;
    background: black;
    min-height:100px;
    width: 100%;
    display: inline-block;
    z-index:1;
  }

  #map, #embedded{
    height:100%;
    width:100%;
    display:inline-block;    
    flex-flow: row-reverse;
    margin:2em;
  }

  #embedded{
    min-width:640px;
  }
  
  .footer {
    background: black;
    color: #888;
    font-size:.8em;
    justify-content: center;
    padding:2em;
    width:100%;
    margin-left:-10px;
    bottom:0;
    position: fixed;
    text-align: center;
   
  }

  .display{
    min-height:6em;
  }

  .main {
    padding:2em;
    text-align: left;
    background: transparent;
    position: relative;
    vertical-align: -webkit-baseline-middle;
    margin-top:10%;
  }
  
  .aside-1 {
    background: transparent;
  }
  
  .aside-2 {
    background: transparent;
    opacity:.7;
    flex-flow: row-reverse;
    display:flex;
    min-width:50%;
    min-height: 100%;
    padding:2em;
    position:sticky;
  }

  #cmt{
    
    width:500px;
    margin: 2em 0 2em 0 ;
  }

  .comments{
    height:100px;
    width:300px;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 0 auto; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    font-family:lato;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    position:relative;
    background-image:url(img/tesla.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;  
    background-size: cover;
    background-color:black;
    height:100%;
  }