.user-input-state{
  display: inline-block;
}

.add-text-btn {
  margin-top:1em;
  background:black;
  border-color: whitesmoke;
  color: whitesmoke;
  width:10em;
  height:3em;
  margin-right:3em;
  display: block;
  border-radius: 2em;
}

tr.bad {
  background-color: rgb(134, 7, 7);
}

tr.good{
  background-color: green;
}

.uploadimg {
  background-image: url(img/snap.png);
  background-repeat: no-repeat;
  background-size:contain;
  display:inline-block;
  justify-content: baseline;
  margin-left:1em;
  height:2em;
  width:2em;
  opacity:.7;
}

.uploadimg:hover{
  opacity:1;
}

.add-text-btn:hover, .login:hover, .reg:hover  {
  background-color: whitesmoke;
  color: black;
}

.del-text-btn{
  margin-top:1em;
  background:transparent;
  color:grey;
  border:none;
  opacity:0;
}

label {
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size: 1em;
  font-weight: 1;
}

input[type=text]{
  background:white;
	resize:none;
	box-sizing:border-box;
	padding: 1em;
	height:3em;
  overflow-y:hidden;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    height:100%;
  }
  
  .wrapper > * {
    flex: 100%;
    margin:-10px;
  }
  
  .header {
    color: white;
    background: black;
    width: 100%;
    margin-top:-10px;
    margin-left:-10px;
    height:160px;
    background-image: url(img/driveexp.png);
    background-size:contain;
    background-repeat: no-repeat;
  }

  .reg, .login{
    float:right;
    background:black;
    border: solid 1px whitesmoke;
    color: whitesmoke;
    width:8em;
    height:3em;
    margin:2em;
    font-size:1.5em;
  }

  #map, #embedded{
    height:70%;
    min-width:30%;
  }

  #embedded{
    overflow: hidden;
    position: relative;
    width:70%;
  }

  #embedded iframe{
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  #embedded-4x3 {
    padding-top: 75%;
  }
 
  #camView{
   border: none;
   display: block;
   position: fixed;
   bottom:5%;
   width:42%;
   max-height:50%;
   min-height:36%;
  }

  .footer {
    background: transparent;
    color: #888;
    font-size:.8em;
    justify-content: center;
    padding:2em;
    width:100%;
    margin-left:-10px;
    bottom:0;
    position: fixed;
  }

  .display{
    min-height:6em;
  }

  .main {
   margin-left:3%;
   color:whitesmoke;
   min-width:320px;
  }

  .profile{
    min-height: 170px;
    font-size:2em;
  }

  .level{
    float:left;
  }

  .avatar{
    background:transparent;
    background-image:url(img/default.png);
    background-size:contain;
    background-repeat: no-repeat;
    width:260px;
    height:100px;
    background-position:center;
  }

  .achievements{
    background: transparent;
    background-image:url(img/trophy.png);
    background-size:contain;
    background-repeat: no-repeat;
    width:100px;
    height:100px;
    opacity:0;
  }

  .hLevel:hover, .hID:hover, .hModel:hover, .hDist:hover, .hRating:hover{
    opacity:1;
  }

  #driverTable, .hLevel, .hID, .hModel, .hDist, .hRating{
    opacity:.5;
  }

  #grid{
    display:inline-flex;
    flex-flow:row;
    width:500px;
  }
  
  .aside-1 {
    padding:2em;
    text-align: left;
    background: transparent;
    position: relative;
    vertical-align: -webkit-baseline-middle;
    margin-top:2em;
  }
  
  .aside-2 {
    background: transparent;
    opacity:.7;
    flex-flow: row-reverse;
    display:inline-flex;
    width:42%;
    padding:2em;
    margin-top:2em;
    min-height:50%;
    position:sticky;
  }

  table{
    width:100%;
    margin-top:2em;
    table-layout: fixed;
    background-color:transparent;
    color:white;
  }

  #cmt{
  margin: 1em 0 1em 0;
  }
  
  overflow-wrap {
    overflow-wrap: break-word;
  }

  textarea{
    font-family: lato;
    height:10em;
    width:100%;
    resize:none;
    box-sizing:border-box;
    padding: 1em;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 0 auto; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    font-family:lato light;
    color:whitesmoke;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    position:relative;
    background-image:url(img/bg.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;  
    background-size: cover;
    background-color:black;
    height:100%;
    min-width:1000px;
  }